---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="StreamParish">
  <div class="main-container">
    <main class="main-content">
      <div class="main-logo-container">
        <h1 class="title">
          <img src="/logo.png" alt="StreamParish" srcset="" class="logo" />
        </h1>
        <p>Todo lo que amas en un solo lugar</p>
      </div>

      <div class="main-actions">
        <Button as="a" href="/subscribe">Suscribirse</Button>
        <Button as="a" href="/login">Inicia sessión</Button>
      </div>

      <p class="term-and-conditions">
        <a href="/terms-and-conditions">Terminos y condiciones</a>
      </p>
    </main>
    <div class="movies-list">
      <img src="barbie.webp" alt="Barbie movie" />
      <img src="romeo_santos.jpeg" alt="Romeo Santos" />
      <img src="pianista.jpg" alt="Pianist movie" />
    </div>
  </div>
</Layout>

<style>
  .main-container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  @media (width >= 1024px) {
    .main-container {
      flex-direction: row;
    }
  }
  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: var(--text-color);
  }

  .main-logo-container p {
    font-size: 1.35rem;
  }

  .title {
    max-width: 300px;
    text-align: center;
  }

  @media (width >= 360px) {
    .title {
      max-width: 450px;
    }
  }

  .main-actions {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-actions .btn {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .movies-list {
    position: relative;
    min-width: max-content;
    display: inline-flex;
    height: 400px;
    gap: 7px;
  }

  .movies-list::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 30px 32.5px var(--primary-bg);
    pointer-events: none;
  }

  @media (width >= 1024px) {
    .movies-list {
      height: 600px;
      transform: translateX(30px);
    }
    .movies-list img {
      max-width: 250px;
    }
  }

  .movies-list img {
    max-width: 225px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .term-and-conditions {
    margin-top: 50px;
    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
  }

  .term-and-conditions a {
    color: var(--text-color);
  }
</style>
