---
import Button from "../components/Button.astro";
import FormField from "../components/FormField.astro";
import TextInput from "../components/TextInput.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login | StreamParish">
  <form class="login-form">
    <TextInput labelContent="Email" name="email" inputType="email" />
    <TextInput labelContent="Password" name="password" inputType="password" />

    <Button as={"button"} type="submit" class="button">Login</Button>
  </form>
</Layout>

<style>
  body {
    background-color: #000;
  }

  .button {
    width: 100%;
  }

  .form-field input {
    display: block;
    width: 100%;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;

    background-color: #353337c7;
  }

  @media (width >= 1024px) {
    .login-form {
      max-width: 550px;
    }
  }
</style>
